<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr>

<h2>Comments:</h2>
<% if (article.comment) { %>
  <% article.comment.forEach( com => { %>
    <%= com.name %> (<%= moment(com.createdAt).calendar()%>) commented:
    <p><%= com.content %></p>
  <% }) %>
<% } else { %>
<p>No comments yet!</p>
<% } %>

<hr>

<a href="/">&larr; Back Home</a>
