<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr>

<h2>Comments <span class="badge badge-secondary"><%= article.comments.length %></span></h2>

<h3>Add a new comment <a href="#newcomment">here</a>.</h3>

<hr>

<% if (article.comments) { %>
  <% article.comments.forEach( com => { %>
    <h4><%= com.name %> (<%= moment(com.createdAt).calendar()%>) commented: </h4>
    <p><%= com.content %></p>
  </br>
  <% }) %>
<% } %>

<hr>

<form id="newcomment" method="POST" action="/articles/<%= article.id %>/comments">
  <div class="form-group">
    <input type="hidden" name="articleId" value="<%= article.id %>">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="e.g. Jane Doe" name="name">
    </div>
    
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" id="comment" rows="3" name="content" placeholder="Your thoughts here..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Submit Comment</button>
</form>
<hr>

<a href="/">&larr; Back Home</a>
