<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr>

<h2>Comments:</h2>

<h3>Add a new comment <a href="#newcomment">here</a>.</h3>

<% if (article.comment) { %>
  <% article.comment.forEach( com => { %>
    <%= com.name %> (<%= moment(com.createdAt).calendar()%>) commented:
    <p><%= com.content %></p>
  <% }) %>
<% } %>

<form id="newcomment">
  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="e.g. Jane Doe" name="name">
    </div>
    
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" id="comment" rows="3" name="content" placeholder="Your thoughts here..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Submit Comment</button>
</form>
<hr>

<a href="/">&larr; Back Home</a>
